--
-- PostgreSQL database dump
--

\restrict orEPHzhKIklRhAQdpkTfFeS0uiDLBBzKoq9KmAoLqxg1BjCaY5HfpcUJg0DMz6g

-- Dumped from database version 17.7
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: update_updated_at_column(); Type: FUNCTION; Schema: public; Owner: postgres
--

CREATE FUNCTION public.update_updated_at_column() RETURNS trigger
    LANGUAGE plpgsql
    AS $$

BEGIN

    NEW.updated_at = CURRENT_TIMESTAMP;

    RETURN NEW;

END;

$$;


ALTER FUNCTION public.update_updated_at_column() OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: brands; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.brands (
    id integer NOT NULL,
    brand_name character varying(100) NOT NULL,
    description text,
    website character varying(255),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.brands OWNER TO postgres;

--
-- Name: TABLE brands; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.brands IS 'Master table for product brands';


--
-- Name: brands_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.brands_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.brands_id_seq OWNER TO postgres;

--
-- Name: brands_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.brands_id_seq OWNED BY public.brands.id;


--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id integer NOT NULL,
    category_name character varying(100) NOT NULL,
    description text,
    display_order integer DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: TABLE categories; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.categories IS 'Master table for product categories';


--
-- Name: countries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.countries (
    id integer NOT NULL,
    country_code character varying(3) NOT NULL,
    country_name character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.countries OWNER TO postgres;

--
-- Name: TABLE countries; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.countries IS 'Master table for countries of origin';


--
-- Name: countries_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.countries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.countries_id_seq OWNER TO postgres;

--
-- Name: countries_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.countries_id_seq OWNED BY public.countries.id;


--
-- Name: designers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.designers (
    id integer NOT NULL,
    designer_name character varying(100) NOT NULL,
    bio text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.designers OWNER TO postgres;

--
-- Name: TABLE designers; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.designers IS 'Master table for product designers';


--
-- Name: designers_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.designers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.designers_id_seq OWNER TO postgres;

--
-- Name: designers_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.designers_id_seq OWNED BY public.designers.id;


--
-- Name: inventory_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.inventory_transactions (
    id integer NOT NULL,
    product_id integer NOT NULL,
    transaction_type character varying(50) NOT NULL,
    quantity integer NOT NULL,
    unit_cost numeric(10,2),
    total_cost numeric(12,2),
    reference_number character varying(100),
    reference_type character varying(50),
    location character varying(100),
    transaction_date timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    notes text,
    created_by character varying(100),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.inventory_transactions OWNER TO postgres;

--
-- Name: TABLE inventory_transactions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.inventory_transactions IS 'Complete transaction history for inventory tracking';


--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.inventory_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.inventory_transactions_id_seq OWNER TO postgres;

--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.inventory_transactions_id_seq OWNED BY public.inventory_transactions.id;


--
-- Name: product_dimensions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_dimensions (
    id integer NOT NULL,
    product_id integer NOT NULL,
    functional_depth_cm numeric(10,2),
    functional_width_cm numeric(10,2),
    functional_height_cm numeric(10,2),
    functional_diameter_cm numeric(10,2),
    functional_capacity_liter numeric(10,3),
    packed_weight_kg numeric(10,3),
    packed_depth_cm numeric(10,2),
    packed_width_cm numeric(10,2),
    packed_height_cm numeric(10,2),
    product_weight_kg numeric(10,3),
    technical_capacity_liter numeric(10,3),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.product_dimensions OWNER TO postgres;

--
-- Name: TABLE product_dimensions; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.product_dimensions IS 'Product physical dimensions and capacities';


--
-- Name: product_dimensions_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_dimensions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_dimensions_id_seq OWNER TO postgres;

--
-- Name: product_dimensions_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_dimensions_id_seq OWNED BY public.product_dimensions.id;


--
-- Name: product_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_images (
    id integer NOT NULL,
    product_id integer NOT NULL,
    image_url character varying(500) NOT NULL,
    image_type character varying(50) DEFAULT 'product'::character varying,
    alt_text character varying(255),
    display_order integer DEFAULT 0,
    is_primary boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.product_images OWNER TO postgres;

--
-- Name: TABLE product_images; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.product_images IS 'Product image URLs and metadata';


--
-- Name: product_images_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_images_id_seq OWNER TO postgres;

--
-- Name: product_images_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_images_id_seq OWNED BY public.product_images.id;


--
-- Name: product_packaging; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_packaging (
    id integer NOT NULL,
    product_id integer NOT NULL,
    packaging_type character varying(100),
    colli_size integer,
    colli_weight_kg numeric(10,3),
    colli_length_cm numeric(10,2),
    colli_width_cm numeric(10,2),
    colli_height_cm numeric(10,2),
    master_colli_weight_kg numeric(10,3),
    master_colli_length_cm numeric(10,2),
    master_colli_width_cm numeric(10,2),
    master_colli_height_cm numeric(10,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.product_packaging OWNER TO postgres;

--
-- Name: TABLE product_packaging; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.product_packaging IS 'Product packaging specifications and colli information';


--
-- Name: product_packaging_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_packaging_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_packaging_id_seq OWNER TO postgres;

--
-- Name: product_packaging_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_packaging_id_seq OWNED BY public.product_packaging.id;


--
-- Name: product_pricing; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_pricing (
    id integer NOT NULL,
    product_id integer NOT NULL,
    rrp_aed_excl_vat numeric(10,2),
    price_incl_vat numeric(10,2),
    listed_price_incl_vat numeric(10,2),
    currency character varying(3) DEFAULT 'AED'::character varying,
    vat_rate numeric(5,2) DEFAULT 5.00,
    is_current boolean DEFAULT true,
    effective_from date DEFAULT CURRENT_DATE NOT NULL,
    effective_to date,
    remarks text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.product_pricing OWNER TO postgres;

--
-- Name: TABLE product_pricing; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.product_pricing IS 'Product pricing history with effective date ranges';


--
-- Name: product_pricing_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_pricing_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_pricing_id_seq OWNER TO postgres;

--
-- Name: product_pricing_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_pricing_id_seq OWNED BY public.product_pricing.id;


--
-- Name: product_specifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_specifications (
    id integer NOT NULL,
    product_id integer NOT NULL,
    spec_key character varying(100) NOT NULL,
    spec_value text,
    spec_unit character varying(50),
    display_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.product_specifications OWNER TO postgres;

--
-- Name: TABLE product_specifications; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.product_specifications IS 'Flexible product specifications for additional attributes';


--
-- Name: product_specifications_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.product_specifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.product_specifications_id_seq OWNER TO postgres;

--
-- Name: product_specifications_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.product_specifications_id_seq OWNED BY public.product_specifications.id;


--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id integer NOT NULL,
    sku character varying(50) NOT NULL,
    sku_2025 character varying(50),
    sku_2026 character varying(50),
    name character varying(255) NOT NULL,
    name_english character varying(255),
    description text,
    category_id integer NOT NULL,
    subcategory_id integer,
    brand_id integer,
    designer_id integer,
    country_id integer,
    material character varying(255),
    colour character varying(100),
    size character varying(50),
    ean bigint,
    ean_secondary bigint,
    customs_tariff_number bigint,
    dishwasher_safe boolean DEFAULT false,
    cleaning_maintenance text,
    is_active boolean DEFAULT true,
    is_discontinued boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    is_featured boolean DEFAULT false,
    is_new boolean DEFAULT false,
    is_best_seller boolean DEFAULT false
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: TABLE products; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.products IS 'Core product master data table';


--
-- Name: products_id_seq; Type: SEQUENCE; Schema: public; Owner: postgres
--

CREATE SEQUENCE public.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE public.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: public; Owner: postgres
--

ALTER SEQUENCE public.products_id_seq OWNED BY public.products.id;


--
-- Name: subcategories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.subcategories (
    id integer NOT NULL,
    category_id integer NOT NULL,
    subcategory_name character varying(100) NOT NULL,
    description text,
    display_order integer DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.subcategories OWNER TO postgres;

--
-- Name: TABLE subcategories; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON TABLE public.subcategories IS 'Master table for product subcategories linked to categories';


--
-- Name: vw_current_inventory; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_current_inventory AS
 SELECT p.id AS product_id,
    p.sku,
    p.name,
    c.category_name,
    b.brand_name,
    COALESCE(sum(
        CASE
            WHEN ((it.transaction_type)::text = ANY ((ARRAY['PURCHASE'::character varying, 'RETURN'::character varying])::text[])) THEN it.quantity
            WHEN ((it.transaction_type)::text = ANY ((ARRAY['SALE'::character varying, 'ADJUSTMENT'::character varying])::text[])) THEN (- it.quantity)
            ELSE 0
        END), (0)::bigint) AS current_stock,
    pp.rrp_aed_excl_vat,
    pp.price_incl_vat
   FROM ((((public.products p
     LEFT JOIN public.categories c ON ((p.category_id = c.id)))
     LEFT JOIN public.brands b ON ((p.brand_id = b.id)))
     LEFT JOIN public.inventory_transactions it ON ((p.id = it.product_id)))
     LEFT JOIN public.product_pricing pp ON (((p.id = pp.product_id) AND (pp.is_current = true))))
  WHERE (p.is_active = true)
  GROUP BY p.id, p.sku, p.name, c.category_name, b.brand_name, pp.rrp_aed_excl_vat, pp.price_incl_vat;


ALTER VIEW public.vw_current_inventory OWNER TO postgres;

--
-- Name: VIEW vw_current_inventory; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.vw_current_inventory IS 'Current inventory stock levels by product';


--
-- Name: vw_products_complete; Type: VIEW; Schema: public; Owner: postgres
--

CREATE VIEW public.vw_products_complete AS
 SELECT p.id,
    p.sku,
    p.sku_2025,
    p.sku_2026,
    p.name,
    p.name_english,
    p.description,
    p.material,
    p.colour,
    p.size,
    p.ean,
    p.customs_tariff_number,
    p.dishwasher_safe,
    p.cleaning_maintenance,
    p.is_active,
    c.category_name,
    sc.subcategory_name,
    b.brand_name,
    d.designer_name,
    co.country_name,
    pd.functional_width_cm,
    pd.functional_depth_cm,
    pd.functional_height_cm,
    pd.functional_diameter_cm,
    pd.functional_capacity_liter,
    pd.product_weight_kg,
    pd.packed_weight_kg,
    pk.packaging_type,
    pk.colli_size,
    pk.colli_weight_kg,
    pp.rrp_aed_excl_vat,
    pp.price_incl_vat,
    pp.listed_price_incl_vat,
    p.created_at,
    p.updated_at
   FROM ((((((((public.products p
     LEFT JOIN public.categories c ON ((p.category_id = c.id)))
     LEFT JOIN public.subcategories sc ON ((p.subcategory_id = sc.id)))
     LEFT JOIN public.brands b ON ((p.brand_id = b.id)))
     LEFT JOIN public.designers d ON ((p.designer_id = d.id)))
     LEFT JOIN public.countries co ON ((p.country_id = co.id)))
     LEFT JOIN public.product_dimensions pd ON ((p.id = pd.product_id)))
     LEFT JOIN public.product_packaging pk ON ((p.id = pk.product_id)))
     LEFT JOIN public.product_pricing pp ON (((p.id = pp.product_id) AND (pp.is_current = true))));


ALTER VIEW public.vw_products_complete OWNER TO postgres;

--
-- Name: VIEW vw_products_complete; Type: COMMENT; Schema: public; Owner: postgres
--

COMMENT ON VIEW public.vw_products_complete IS 'Complete product view with all related data';


--
-- Name: brands id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brands ALTER COLUMN id SET DEFAULT nextval('public.brands_id_seq'::regclass);


--
-- Name: countries id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.countries ALTER COLUMN id SET DEFAULT nextval('public.countries_id_seq'::regclass);


--
-- Name: designers id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designers ALTER COLUMN id SET DEFAULT nextval('public.designers_id_seq'::regclass);


--
-- Name: inventory_transactions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transactions ALTER COLUMN id SET DEFAULT nextval('public.inventory_transactions_id_seq'::regclass);


--
-- Name: product_dimensions id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_dimensions ALTER COLUMN id SET DEFAULT nextval('public.product_dimensions_id_seq'::regclass);


--
-- Name: product_images id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images ALTER COLUMN id SET DEFAULT nextval('public.product_images_id_seq'::regclass);


--
-- Name: product_packaging id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_packaging ALTER COLUMN id SET DEFAULT nextval('public.product_packaging_id_seq'::regclass);


--
-- Name: product_pricing id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_pricing ALTER COLUMN id SET DEFAULT nextval('public.product_pricing_id_seq'::regclass);


--
-- Name: product_specifications id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_specifications ALTER COLUMN id SET DEFAULT nextval('public.product_specifications_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products ALTER COLUMN id SET DEFAULT nextval('public.products_id_seq'::regclass);


--
-- Data for Name: brands; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.brands (id, brand_name, description, website, is_active, created_at, updated_at) FROM stdin;
1	Eva Trio	\N	\N	t	2025-12-27 23:25:28.183088	2025-12-27 23:28:26.816716
2	Eva	\N	\N	t	2025-12-27 23:25:28.183088	2025-12-27 23:28:26.816716
3	Eva Solo	\N	\N	t	2025-12-27 23:25:28.183088	2025-12-27 23:28:26.816716
4	PWtbS	\N	\N	t	2025-12-27 23:25:28.183088	2025-12-27 23:28:26.816716
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.categories (id, category_name, description, display_order, is_active, created_at, updated_at) FROM stdin;
1	Tea & Coffee	\N	1	t	2025-12-27 23:22:27.753741	2025-12-27 23:22:27.753741
2	Table	\N	2	t	2025-12-27 23:22:27.753741	2025-12-27 23:22:27.753741
3	Glass & Stemware	\N	3	t	2025-12-27 23:22:27.753741	2025-12-27 23:22:27.753741
\.


--
-- Data for Name: countries; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: designers; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.designers (id, designer_name, bio, is_active, created_at, updated_at) FROM stdin;
1	Ole Palsby	\N	t	2025-12-27 23:25:28.190079	2025-12-27 23:28:26.819063
2	Design ApS Display	\N	t	2025-12-27 23:25:28.190079	2025-12-27 23:28:26.819063
3	Tools Design	\N	t	2025-12-27 23:25:28.190079	2025-12-27 23:28:26.819063
4	3Part A/S	\N	t	2025-12-27 23:25:28.190079	2025-12-27 23:28:26.819063
5	Says Who Aps	\N	t	2025-12-27 23:25:28.190079	2025-12-27 23:28:26.819063
6	Hans Thyge & Co ApS	\N	t	2025-12-27 23:25:28.190079	2025-12-27 23:28:26.819063
\.


--
-- Data for Name: inventory_transactions; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.inventory_transactions (id, product_id, transaction_type, quantity, unit_cost, total_cost, reference_number, reference_type, location, transaction_date, notes, created_by, created_at) FROM stdin;
\.


--
-- Data for Name: product_dimensions; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_images; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_images (id, product_id, image_url, image_type, alt_text, display_order, is_primary, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: product_packaging; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_pricing; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: product_specifications; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_specifications (id, product_id, spec_key, spec_value, spec_unit, display_order, created_at, updated_at) FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: subcategories; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.subcategories (id, category_id, subcategory_name, description, display_order, is_active, created_at, updated_at) FROM stdin;
\.


--
-- Name: brands_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.brands_id_seq', 8, true);


--
-- Name: countries_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.countries_id_seq', 20, true);


--
-- Name: designers_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.designers_id_seq', 12, true);


--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.inventory_transactions_id_seq', 1, false);


--
-- Name: product_dimensions_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_dimensions_id_seq', 1610, true);


--
-- Name: product_images_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_images_id_seq', 1, false);


--
-- Name: product_packaging_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_packaging_id_seq', 1610, true);


--
-- Name: product_pricing_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_pricing_id_seq', 805, true);


--
-- Name: product_specifications_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.product_specifications_id_seq', 1, false);


--
-- Name: products_id_seq; Type: SEQUENCE SET; Schema: public; Owner: postgres
--

SELECT pg_catalog.setval('public.products_id_seq', 1610, true);


--
-- Name: brands brands_brand_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_brand_name_key UNIQUE (brand_name);


--
-- Name: brands brands_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_pkey PRIMARY KEY (id);


--
-- Name: categories categories_category_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_category_name_key UNIQUE (category_name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: countries countries_country_code_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.countries
    ADD CONSTRAINT countries_country_code_key UNIQUE (country_code);


--
-- Name: countries countries_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.countries
    ADD CONSTRAINT countries_pkey PRIMARY KEY (id);


--
-- Name: designers designers_designer_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designers
    ADD CONSTRAINT designers_designer_name_key UNIQUE (designer_name);


--
-- Name: designers designers_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.designers
    ADD CONSTRAINT designers_pkey PRIMARY KEY (id);


--
-- Name: inventory_transactions inventory_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_pkey PRIMARY KEY (id);


--
-- Name: product_dimensions product_dimensions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_dimensions
    ADD CONSTRAINT product_dimensions_pkey PRIMARY KEY (id);


--
-- Name: product_dimensions product_dimensions_product_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_dimensions
    ADD CONSTRAINT product_dimensions_product_id_key UNIQUE (product_id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: product_packaging product_packaging_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_packaging
    ADD CONSTRAINT product_packaging_pkey PRIMARY KEY (id);


--
-- Name: product_packaging product_packaging_product_id_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_packaging
    ADD CONSTRAINT product_packaging_product_id_key UNIQUE (product_id);


--
-- Name: product_pricing product_pricing_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_pricing
    ADD CONSTRAINT product_pricing_pkey PRIMARY KEY (id);


--
-- Name: product_specifications product_specifications_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_specifications
    ADD CONSTRAINT product_specifications_pkey PRIMARY KEY (id);


--
-- Name: product_specifications product_specifications_product_id_spec_key_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_specifications
    ADD CONSTRAINT product_specifications_product_id_spec_key_key UNIQUE (product_id, spec_key);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_sku_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_sku_key UNIQUE (sku);


--
-- Name: subcategories subcategories_category_id_subcategory_name_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subcategories
    ADD CONSTRAINT subcategories_category_id_subcategory_name_key UNIQUE (category_id, subcategory_name);


--
-- Name: subcategories subcategories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subcategories
    ADD CONSTRAINT subcategories_pkey PRIMARY KEY (id);


--
-- Name: idx_brands_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_brands_active ON public.brands USING btree (is_active);


--
-- Name: idx_brands_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_brands_name ON public.brands USING btree (brand_name);


--
-- Name: idx_categories_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_categories_active ON public.categories USING btree (is_active);


--
-- Name: idx_categories_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_categories_name ON public.categories USING btree (category_name);


--
-- Name: idx_countries_code; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_countries_code ON public.countries USING btree (country_code);


--
-- Name: idx_designers_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_designers_name ON public.designers USING btree (designer_name);


--
-- Name: idx_dimensions_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_dimensions_product ON public.product_dimensions USING btree (product_id);


--
-- Name: idx_images_primary; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_images_primary ON public.product_images USING btree (is_primary);


--
-- Name: idx_images_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_images_product ON public.product_images USING btree (product_id);


--
-- Name: idx_packaging_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_packaging_product ON public.product_packaging USING btree (product_id);


--
-- Name: idx_pricing_current; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pricing_current ON public.product_pricing USING btree (is_current);


--
-- Name: idx_pricing_effective; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pricing_effective ON public.product_pricing USING btree (effective_from, effective_to);


--
-- Name: idx_pricing_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_pricing_product ON public.product_pricing USING btree (product_id);


--
-- Name: idx_products_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_active ON public.products USING btree (is_active);


--
-- Name: idx_products_best_seller; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_best_seller ON public.products USING btree (is_best_seller);


--
-- Name: idx_products_brand; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_brand ON public.products USING btree (brand_id);


--
-- Name: idx_products_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_category ON public.products USING btree (category_id);


--
-- Name: idx_products_ean; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_ean ON public.products USING btree (ean);


--
-- Name: idx_products_featured; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_featured ON public.products USING btree (is_featured);


--
-- Name: idx_products_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_name ON public.products USING btree (name);


--
-- Name: idx_products_new; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_new ON public.products USING btree (is_new);


--
-- Name: idx_products_sku; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_sku ON public.products USING btree (sku);


--
-- Name: idx_products_subcategory; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_subcategory ON public.products USING btree (subcategory_id);


--
-- Name: idx_specifications_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_specifications_key ON public.product_specifications USING btree (spec_key);


--
-- Name: idx_specifications_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_specifications_product ON public.product_specifications USING btree (product_id);


--
-- Name: idx_subcategories_active; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_subcategories_active ON public.subcategories USING btree (is_active);


--
-- Name: idx_subcategories_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_subcategories_category ON public.subcategories USING btree (category_id);


--
-- Name: idx_subcategories_name; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_subcategories_name ON public.subcategories USING btree (subcategory_name);


--
-- Name: idx_transactions_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transactions_date ON public.inventory_transactions USING btree (transaction_date);


--
-- Name: idx_transactions_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transactions_product ON public.inventory_transactions USING btree (product_id);


--
-- Name: idx_transactions_reference; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transactions_reference ON public.inventory_transactions USING btree (reference_number);


--
-- Name: idx_transactions_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_transactions_type ON public.inventory_transactions USING btree (transaction_type);


--
-- Name: brands update_brands_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_brands_updated_at BEFORE UPDATE ON public.brands FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: categories update_categories_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_categories_updated_at BEFORE UPDATE ON public.categories FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: countries update_countries_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_countries_updated_at BEFORE UPDATE ON public.countries FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: designers update_designers_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_designers_updated_at BEFORE UPDATE ON public.designers FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: product_dimensions update_product_dimensions_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_product_dimensions_updated_at BEFORE UPDATE ON public.product_dimensions FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: product_packaging update_product_packaging_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_product_packaging_updated_at BEFORE UPDATE ON public.product_packaging FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: product_pricing update_product_pricing_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_product_pricing_updated_at BEFORE UPDATE ON public.product_pricing FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: products update_products_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_products_updated_at BEFORE UPDATE ON public.products FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: subcategories update_subcategories_updated_at; Type: TRIGGER; Schema: public; Owner: postgres
--

CREATE TRIGGER update_subcategories_updated_at BEFORE UPDATE ON public.subcategories FOR EACH ROW EXECUTE FUNCTION public.update_updated_at_column();


--
-- Name: inventory_transactions inventory_transactions_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.inventory_transactions
    ADD CONSTRAINT inventory_transactions_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE RESTRICT;


--
-- Name: product_dimensions product_dimensions_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_dimensions
    ADD CONSTRAINT product_dimensions_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_images product_images_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_packaging product_packaging_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_packaging
    ADD CONSTRAINT product_packaging_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_pricing product_pricing_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_pricing
    ADD CONSTRAINT product_pricing_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: product_specifications product_specifications_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_specifications
    ADD CONSTRAINT product_specifications_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(id) ON DELETE CASCADE;


--
-- Name: products products_brand_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_brand_id_fkey FOREIGN KEY (brand_id) REFERENCES public.brands(id) ON DELETE SET NULL;


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE RESTRICT;


--
-- Name: products products_country_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_country_id_fkey FOREIGN KEY (country_id) REFERENCES public.countries(id) ON DELETE SET NULL;


--
-- Name: products products_designer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_designer_id_fkey FOREIGN KEY (designer_id) REFERENCES public.designers(id) ON DELETE SET NULL;


--
-- Name: products products_subcategory_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_subcategory_id_fkey FOREIGN KEY (subcategory_id) REFERENCES public.subcategories(id) ON DELETE SET NULL;


--
-- Name: subcategories subcategories_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.subcategories
    ADD CONSTRAINT subcategories_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict orEPHzhKIklRhAQdpkTfFeS0uiDLBBzKoq9KmAoLqxg1BjCaY5HfpcUJg0DMz6g

