--
-- PostgreSQL database dump
--

\restrict 1B6Ig3o43frPzheSojeUom4G15P3XhHgAZ2IO8LkQdHjBQAhdy4aqCU4fA3B42I

-- Dumped from database version 17.7
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: inventory; Type: SCHEMA; Schema: -; Owner: postgres
--

CREATE SCHEMA inventory;


ALTER SCHEMA inventory OWNER TO postgres;

--
-- Name: postgres_fdw; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS postgres_fdw WITH SCHEMA public;


--
-- Name: EXTENSION postgres_fdw; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION postgres_fdw IS 'foreign-data wrapper for remote PostgreSQL servers';


--
-- Name: AnalyticsEventType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AnalyticsEventType" AS ENUM (
    'PAGE_VIEW',
    'PRODUCT_VIEW',
    'PRODUCT_SEARCH',
    'ADD_TO_CART',
    'REMOVE_FROM_CART',
    'CART_VIEW',
    'CHECKOUT_START',
    'CHECKOUT_COMPLETE',
    'ORDER_PLACED'
);


ALTER TYPE public."AnalyticsEventType" OWNER TO postgres;

--
-- Name: BannerPlacement; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BannerPlacement" AS ENUM (
    'HOME_HERO',
    'HOME_MID',
    'CATEGORY_TOP',
    'CATEGORY_MID',
    'PRODUCT_SIDEBAR',
    'CHECKOUT_TOP',
    'HOME_SECONDARY',
    'CATEGORY',
    'PROMOTION'
);


ALTER TYPE public."BannerPlacement" OWNER TO postgres;

--
-- Name: CartItemType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CartItemType" AS ENUM (
    'PRODUCT',
    'PACKAGE'
);


ALTER TYPE public."CartItemType" OWNER TO postgres;

--
-- Name: ContentBlockType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ContentBlockType" AS ENUM (
    'HOMEPAGE_SECTION',
    'ABOUT_US',
    'FOOTER_INFO',
    'CUSTOM'
);


ALTER TYPE public."ContentBlockType" OWNER TO postgres;

--
-- Name: LandingSectionType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."LandingSectionType" AS ENUM (
    'PRODUCT_GRID',
    'CATEGORY_GRID',
    'RICH_TEXT',
    'IMAGE',
    'BANNER_CAROUSEL'
);


ALTER TYPE public."LandingSectionType" OWNER TO postgres;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'PAYMENT_PENDING',
    'PAID',
    'PROCESSING',
    'SHIPPED',
    'DELIVERED',
    'CANCELLED',
    'REFUNDED'
);


ALTER TYPE public."OrderStatus" OWNER TO postgres;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'AUTHORIZED',
    'PAID',
    'FAILED',
    'REFUNDED'
);


ALTER TYPE public."PaymentStatus" OWNER TO postgres;

--
-- Name: PromoType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PromoType" AS ENUM (
    'PERCENTAGE',
    'FIXED_AMOUNT',
    'FREE_SHIPPING'
);


ALTER TYPE public."PromoType" OWNER TO postgres;

--
-- Name: ShippingMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ShippingMethod" AS ENUM (
    'STANDARD',
    'EXPRESS',
    'OVERNIGHT',
    'PICKUP'
);


ALTER TYPE public."ShippingMethod" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'CUSTOMER',
    'ADMIN',
    'SUPER_ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: brands; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.brands (
    id integer NOT NULL,
    brand_name character varying(100) NOT NULL,
    description text,
    website character varying(255),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE inventory.brands OWNER TO postgres;

--
-- Name: brands_id_seq; Type: SEQUENCE; Schema: inventory; Owner: postgres
--

CREATE SEQUENCE inventory.brands_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE inventory.brands_id_seq OWNER TO postgres;

--
-- Name: brands_id_seq; Type: SEQUENCE OWNED BY; Schema: inventory; Owner: postgres
--

ALTER SEQUENCE inventory.brands_id_seq OWNED BY inventory.brands.id;


--
-- Name: categories; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.categories (
    id integer NOT NULL,
    category_name character varying(100) NOT NULL,
    description text,
    display_order integer DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE inventory.categories OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE; Schema: inventory; Owner: postgres
--

CREATE SEQUENCE inventory.categories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE inventory.categories_id_seq OWNER TO postgres;

--
-- Name: categories_id_seq; Type: SEQUENCE OWNED BY; Schema: inventory; Owner: postgres
--

ALTER SEQUENCE inventory.categories_id_seq OWNED BY inventory.categories.id;


--
-- Name: countries; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.countries (
    id integer NOT NULL,
    country_code character varying(3) NOT NULL,
    country_name character varying(100) NOT NULL,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE inventory.countries OWNER TO postgres;

--
-- Name: countries_id_seq; Type: SEQUENCE; Schema: inventory; Owner: postgres
--

CREATE SEQUENCE inventory.countries_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE inventory.countries_id_seq OWNER TO postgres;

--
-- Name: countries_id_seq; Type: SEQUENCE OWNED BY; Schema: inventory; Owner: postgres
--

ALTER SEQUENCE inventory.countries_id_seq OWNED BY inventory.countries.id;


--
-- Name: designers; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.designers (
    id integer NOT NULL,
    designer_name character varying(100) NOT NULL,
    bio text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE inventory.designers OWNER TO postgres;

--
-- Name: designers_id_seq; Type: SEQUENCE; Schema: inventory; Owner: postgres
--

CREATE SEQUENCE inventory.designers_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE inventory.designers_id_seq OWNER TO postgres;

--
-- Name: designers_id_seq; Type: SEQUENCE OWNED BY; Schema: inventory; Owner: postgres
--

ALTER SEQUENCE inventory.designers_id_seq OWNED BY inventory.designers.id;


--
-- Name: inventory_transactions; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.inventory_transactions (
    id integer NOT NULL,
    product_id integer,
    transaction_type character varying(50) NOT NULL,
    quantity integer NOT NULL,
    quantity_before integer NOT NULL,
    quantity_after integer NOT NULL,
    reference character varying(100),
    notes text,
    created_at timestamp without time zone DEFAULT now(),
    created_by character varying(100)
);


ALTER TABLE inventory.inventory_transactions OWNER TO postgres;

--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE; Schema: inventory; Owner: postgres
--

CREATE SEQUENCE inventory.inventory_transactions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE inventory.inventory_transactions_id_seq OWNER TO postgres;

--
-- Name: inventory_transactions_id_seq; Type: SEQUENCE OWNED BY; Schema: inventory; Owner: postgres
--

ALTER SEQUENCE inventory.inventory_transactions_id_seq OWNED BY inventory.inventory_transactions.id;


--
-- Name: product_dimensions; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.product_dimensions (
    id integer NOT NULL,
    product_id integer,
    functional_depth_cm numeric(10,2),
    functional_width_cm numeric(10,2),
    functional_height_cm numeric(10,2),
    functional_diameter_cm numeric(10,2),
    functional_capacity_liter numeric(10,3),
    packed_weight_kg numeric(10,3),
    packed_depth_cm numeric(10,2),
    packed_width_cm numeric(10,2),
    packed_height_cm numeric(10,2),
    product_weight_kg numeric(10,3),
    technical_capacity_liter numeric(10,3),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE inventory.product_dimensions OWNER TO postgres;

--
-- Name: product_dimensions_id_seq; Type: SEQUENCE; Schema: inventory; Owner: postgres
--

CREATE SEQUENCE inventory.product_dimensions_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE inventory.product_dimensions_id_seq OWNER TO postgres;

--
-- Name: product_dimensions_id_seq; Type: SEQUENCE OWNED BY; Schema: inventory; Owner: postgres
--

ALTER SEQUENCE inventory.product_dimensions_id_seq OWNED BY inventory.product_dimensions.id;


--
-- Name: product_images; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.product_images (
    id integer NOT NULL,
    product_id integer,
    image_url character varying(500) NOT NULL,
    image_type character varying(50),
    alt_text character varying(255),
    display_order integer DEFAULT 0,
    is_primary boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE inventory.product_images OWNER TO postgres;

--
-- Name: product_images_id_seq; Type: SEQUENCE; Schema: inventory; Owner: postgres
--

CREATE SEQUENCE inventory.product_images_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE inventory.product_images_id_seq OWNER TO postgres;

--
-- Name: product_images_id_seq; Type: SEQUENCE OWNED BY; Schema: inventory; Owner: postgres
--

ALTER SEQUENCE inventory.product_images_id_seq OWNED BY inventory.product_images.id;


--
-- Name: product_packaging; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.product_packaging (
    id integer NOT NULL,
    product_id integer,
    packaging_type character varying(100),
    colli_size integer,
    colli_weight_kg numeric(10,3),
    colli_length_cm numeric(10,2),
    colli_width_cm numeric(10,2),
    colli_height_cm numeric(10,2),
    master_colli_weight_kg numeric(10,3),
    master_colli_length_cm numeric(10,2),
    master_colli_width_cm numeric(10,2),
    master_colli_height_cm numeric(10,2),
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE inventory.product_packaging OWNER TO postgres;

--
-- Name: product_packaging_id_seq; Type: SEQUENCE; Schema: inventory; Owner: postgres
--

CREATE SEQUENCE inventory.product_packaging_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE inventory.product_packaging_id_seq OWNER TO postgres;

--
-- Name: product_packaging_id_seq; Type: SEQUENCE OWNED BY; Schema: inventory; Owner: postgres
--

ALTER SEQUENCE inventory.product_packaging_id_seq OWNED BY inventory.product_packaging.id;


--
-- Name: product_pricing; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.product_pricing (
    id integer NOT NULL,
    product_id integer,
    rrp_aed_excl_vat numeric(10,2),
    price_incl_vat numeric(10,2),
    listed_price_incl_vat numeric(10,2),
    currency character varying(3) DEFAULT 'AED'::character varying,
    vat_rate numeric(5,2),
    is_current boolean DEFAULT true,
    effective_from date,
    effective_to date,
    remarks text,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE inventory.product_pricing OWNER TO postgres;

--
-- Name: product_pricing_id_seq; Type: SEQUENCE; Schema: inventory; Owner: postgres
--

CREATE SEQUENCE inventory.product_pricing_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE inventory.product_pricing_id_seq OWNER TO postgres;

--
-- Name: product_pricing_id_seq; Type: SEQUENCE OWNED BY; Schema: inventory; Owner: postgres
--

ALTER SEQUENCE inventory.product_pricing_id_seq OWNED BY inventory.product_pricing.id;


--
-- Name: product_specifications; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.product_specifications (
    id integer NOT NULL,
    product_id integer,
    spec_key character varying(100) NOT NULL,
    spec_value text,
    spec_unit character varying(50),
    display_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE inventory.product_specifications OWNER TO postgres;

--
-- Name: product_specifications_id_seq; Type: SEQUENCE; Schema: inventory; Owner: postgres
--

CREATE SEQUENCE inventory.product_specifications_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE inventory.product_specifications_id_seq OWNER TO postgres;

--
-- Name: product_specifications_id_seq; Type: SEQUENCE OWNED BY; Schema: inventory; Owner: postgres
--

ALTER SEQUENCE inventory.product_specifications_id_seq OWNED BY inventory.product_specifications.id;


--
-- Name: products; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.products (
    id integer NOT NULL,
    sku character varying(50) NOT NULL,
    sku_2025 character varying(50),
    sku_2026 character varying(50),
    name character varying(255) NOT NULL,
    name_english character varying(255),
    description text,
    category_id integer,
    subcategory_id integer,
    brand_id integer,
    designer_id integer,
    country_id integer,
    material character varying(255),
    colour character varying(100),
    size character varying(50),
    ean bigint,
    ean_secondary bigint,
    customs_tariff_number bigint,
    dishwasher_safe boolean,
    cleaning_maintenance text,
    is_active boolean DEFAULT true,
    is_discontinued boolean DEFAULT false,
    is_featured boolean DEFAULT false,
    is_new boolean DEFAULT false,
    is_best_seller boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE inventory.products OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE; Schema: inventory; Owner: postgres
--

CREATE SEQUENCE inventory.products_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE inventory.products_id_seq OWNER TO postgres;

--
-- Name: products_id_seq; Type: SEQUENCE OWNED BY; Schema: inventory; Owner: postgres
--

ALTER SEQUENCE inventory.products_id_seq OWNED BY inventory.products.id;


--
-- Name: subcategories; Type: TABLE; Schema: inventory; Owner: postgres
--

CREATE TABLE inventory.subcategories (
    id integer NOT NULL,
    category_id integer,
    subcategory_name character varying(100) NOT NULL,
    description text,
    display_order integer DEFAULT 0,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT now(),
    updated_at timestamp without time zone DEFAULT now()
);


ALTER TABLE inventory.subcategories OWNER TO postgres;

--
-- Name: subcategories_id_seq; Type: SEQUENCE; Schema: inventory; Owner: postgres
--

CREATE SEQUENCE inventory.subcategories_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


ALTER SEQUENCE inventory.subcategories_id_seq OWNER TO postgres;

--
-- Name: subcategories_id_seq; Type: SEQUENCE OWNED BY; Schema: inventory; Owner: postgres
--

ALTER SEQUENCE inventory.subcategories_id_seq OWNED BY inventory.subcategories.id;


--
-- Name: vw_current_inventory; Type: VIEW; Schema: inventory; Owner: postgres
--

CREATE VIEW inventory.vw_current_inventory AS
 SELECT id AS product_id,
    sku,
    name,
    is_active,
    COALESCE(( SELECT sum(
                CASE
                    WHEN ((it.transaction_type)::text = ANY ((ARRAY['PURCHASE'::character varying, 'ADJUSTMENT_ADD'::character varying, 'RETURN'::character varying])::text[])) THEN it.quantity
                    WHEN ((it.transaction_type)::text = ANY ((ARRAY['SALE'::character varying, 'ADJUSTMENT_REMOVE'::character varying, 'DAMAGE'::character varying])::text[])) THEN (- it.quantity)
                    ELSE 0
                END) AS sum
           FROM inventory.inventory_transactions it
          WHERE (it.product_id = p.id)), (0)::bigint) AS current_stock,
    ( SELECT max(it.created_at) AS max
           FROM inventory.inventory_transactions it
          WHERE (it.product_id = p.id)) AS last_transaction_at
   FROM inventory.products p
  WHERE (is_active = true);


ALTER VIEW inventory.vw_current_inventory OWNER TO postgres;

--
-- Name: vw_products_complete; Type: VIEW; Schema: inventory; Owner: postgres
--

CREATE VIEW inventory.vw_products_complete AS
 SELECT p.id,
    p.sku,
    p.name,
    p.name_english,
    p.description,
    p.material,
    p.colour,
    p.size,
    p.ean,
    p.is_active,
    p.is_discontinued,
    p.is_featured,
    p.is_new,
    p.is_best_seller,
    p.created_at,
    p.updated_at,
    c.id AS category_id,
    c.category_name,
    sc.id AS subcategory_id,
    sc.subcategory_name,
    b.id AS brand_id,
    b.brand_name,
    d.id AS designer_id,
    d.designer_name,
    co.id AS country_id,
    co.country_name,
    co.country_code,
    pr.rrp_aed_excl_vat,
    pr.price_incl_vat,
    pr.listed_price_incl_vat,
    pr.currency,
    pr.vat_rate,
    dim.functional_depth_cm,
    dim.functional_width_cm,
    dim.functional_height_cm,
    dim.product_weight_kg
   FROM (((((((inventory.products p
     LEFT JOIN inventory.categories c ON ((p.category_id = c.id)))
     LEFT JOIN inventory.subcategories sc ON ((p.subcategory_id = sc.id)))
     LEFT JOIN inventory.brands b ON ((p.brand_id = b.id)))
     LEFT JOIN inventory.designers d ON ((p.designer_id = d.id)))
     LEFT JOIN inventory.countries co ON ((p.country_id = co.id)))
     LEFT JOIN inventory.product_pricing pr ON (((p.id = pr.product_id) AND (pr.is_current = true))))
     LEFT JOIN inventory.product_dimensions dim ON ((p.id = dim.product_id)));


ALTER VIEW inventory.vw_products_complete OWNER TO postgres;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: addresses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.addresses (
    id text NOT NULL,
    "userId" text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    company text,
    "addressLine1" text NOT NULL,
    "addressLine2" text,
    city text NOT NULL,
    state text NOT NULL,
    "postalCode" text NOT NULL,
    country text DEFAULT 'US'::text NOT NULL,
    phone text NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.addresses OWNER TO postgres;

--
-- Name: analytics_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analytics_events (
    id text NOT NULL,
    type public."AnalyticsEventType" NOT NULL,
    "userId" text,
    "productId" text,
    metadata text,
    "sessionId" text,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.analytics_events OWNER TO postgres;

--
-- Name: banners; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.banners (
    id text NOT NULL,
    title text NOT NULL,
    subtitle text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "ctaText" text,
    "ctaUrl" text,
    "displayOrder" integer DEFAULT 0 NOT NULL,
    "endAt" timestamp(3) without time zone,
    "imageDesktopUrl" text DEFAULT ''::text NOT NULL,
    "imageMobileUrl" text,
    placement public."BannerPlacement" DEFAULT 'HOME_HERO'::public."BannerPlacement" NOT NULL,
    "startAt" timestamp(3) without time zone
);


ALTER TABLE public.banners OWNER TO postgres;

--
-- Name: brands; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.brands (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    logo text,
    website text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.brands OWNER TO postgres;

--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_items (
    id text NOT NULL,
    "cartId" text NOT NULL,
    type public."CartItemType" NOT NULL,
    "productId" text,
    "packageId" text,
    quantity integer DEFAULT 1 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.cart_items OWNER TO postgres;

--
-- Name: carts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carts (
    id text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.carts OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id text NOT NULL,
    "departmentId" text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    image text,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: content_blocks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.content_blocks (
    id text NOT NULL,
    key text NOT NULL,
    type public."ContentBlockType" NOT NULL,
    title text,
    content text NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.content_blocks OWNER TO postgres;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    icon text,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: landing_pages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.landing_pages (
    id text NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    "heroBannerId" text,
    "seoTitle" text,
    "seoDescription" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.landing_pages OWNER TO postgres;

--
-- Name: landing_sections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.landing_sections (
    id text NOT NULL,
    "landingPageId" text NOT NULL,
    type public."LandingSectionType" NOT NULL,
    data text NOT NULL,
    "displayOrder" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.landing_sections OWNER TO postgres;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id text NOT NULL,
    "orderId" text NOT NULL,
    type public."CartItemType" NOT NULL,
    "productId" text,
    "packageId" text,
    name text NOT NULL,
    sku text,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_status_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_status_history (
    id text NOT NULL,
    "orderId" text NOT NULL,
    status public."OrderStatus" NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdBy" text
);


ALTER TABLE public.order_status_history OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id text NOT NULL,
    "orderNumber" text NOT NULL,
    "userId" text NOT NULL,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    "paymentStatus" public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    "shippingAddressId" text NOT NULL,
    "billingAddressId" text NOT NULL,
    "shippingMethod" public."ShippingMethod" NOT NULL,
    "shippingCost" numeric(10,2) NOT NULL,
    "trackingNumber" text,
    subtotal numeric(10,2) NOT NULL,
    discount numeric(10,2) DEFAULT 0 NOT NULL,
    tax numeric(10,2) NOT NULL,
    total numeric(10,2) NOT NULL,
    "promoCode" text,
    "paymentIntentId" text,
    "paymentMethod" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "paidAt" timestamp(3) without time zone,
    "shippedAt" timestamp(3) without time zone,
    "deliveredAt" timestamp(3) without time zone
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: package_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.package_items (
    id text NOT NULL,
    "packageId" text NOT NULL,
    "productId" text NOT NULL,
    quantity integer DEFAULT 1 NOT NULL
);


ALTER TABLE public.package_items OWNER TO postgres;

--
-- Name: packages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.packages (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    "longDescription" text,
    image text,
    price numeric(10,2) NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "isFeatured" boolean DEFAULT false NOT NULL,
    "metaTitle" text,
    "metaDescription" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.packages OWNER TO postgres;

--
-- Name: product_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_images (
    id text NOT NULL,
    "productId" text NOT NULL,
    url text NOT NULL,
    alt text,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.product_images OWNER TO postgres;

--
-- Name: product_overrides; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_overrides (
    id text NOT NULL,
    "inventorySku" text NOT NULL,
    "inventoryId" integer,
    "isFeatured" boolean,
    "isNew" boolean,
    "isBestSeller" boolean,
    "homepageRank" integer,
    "categoryRank" integer,
    "customPrice" numeric(10,2),
    "customSalePrice" numeric(10,2),
    "customPriceInclVat" numeric(10,2),
    "customImagesJson" text,
    "customDescription" text,
    "customLongDescription" text,
    "metaTitle" text,
    "metaDescription" text,
    "metaKeywords" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdBy" text,
    "updatedBy" text
);


ALTER TABLE public.product_overrides OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id text NOT NULL,
    sku text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    "longDescription" text,
    "departmentId" text NOT NULL,
    "categoryId" text NOT NULL,
    "brandId" text,
    price numeric(10,2) NOT NULL,
    "compareAtPrice" numeric(10,2),
    cost numeric(10,2),
    stock integer DEFAULT 0 NOT NULL,
    "lowStockThreshold" integer DEFAULT 10 NOT NULL,
    weight numeric(10,2),
    dimensions text,
    material text,
    color text,
    size text,
    attributes text,
    "isFeatured" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "isNew" boolean DEFAULT false NOT NULL,
    "isBestSeller" boolean DEFAULT false NOT NULL,
    "metaTitle" text,
    "metaDescription" text,
    "metaKeywords" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: promo_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promo_codes (
    id text NOT NULL,
    code text NOT NULL,
    description text,
    type public."PromoType" NOT NULL,
    value numeric(10,2) NOT NULL,
    "minOrderAmount" numeric(10,2),
    "maxDiscount" numeric(10,2),
    "usageLimit" integer,
    "usageCount" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "startsAt" timestamp(3) without time zone NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.promo_codes OWNER TO postgres;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    id text NOT NULL,
    token text NOT NULL,
    "userId" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isRevoked" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- Name: saved_search_terms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.saved_search_terms (
    id text NOT NULL,
    term text NOT NULL,
    "resultCount" integer NOT NULL,
    "userId" text,
    "sessionId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.saved_search_terms OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "firstName" text,
    "lastName" text,
    phone text,
    role public."UserRole" DEFAULT 'CUSTOMER'::public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastLoginAt" timestamp(3) without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Name: brands id; Type: DEFAULT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.brands ALTER COLUMN id SET DEFAULT nextval('inventory.brands_id_seq'::regclass);


--
-- Name: categories id; Type: DEFAULT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.categories ALTER COLUMN id SET DEFAULT nextval('inventory.categories_id_seq'::regclass);


--
-- Name: countries id; Type: DEFAULT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.countries ALTER COLUMN id SET DEFAULT nextval('inventory.countries_id_seq'::regclass);


--
-- Name: designers id; Type: DEFAULT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.designers ALTER COLUMN id SET DEFAULT nextval('inventory.designers_id_seq'::regclass);


--
-- Name: inventory_transactions id; Type: DEFAULT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.inventory_transactions ALTER COLUMN id SET DEFAULT nextval('inventory.inventory_transactions_id_seq'::regclass);


--
-- Name: product_dimensions id; Type: DEFAULT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_dimensions ALTER COLUMN id SET DEFAULT nextval('inventory.product_dimensions_id_seq'::regclass);


--
-- Name: product_images id; Type: DEFAULT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_images ALTER COLUMN id SET DEFAULT nextval('inventory.product_images_id_seq'::regclass);


--
-- Name: product_packaging id; Type: DEFAULT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_packaging ALTER COLUMN id SET DEFAULT nextval('inventory.product_packaging_id_seq'::regclass);


--
-- Name: product_pricing id; Type: DEFAULT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_pricing ALTER COLUMN id SET DEFAULT nextval('inventory.product_pricing_id_seq'::regclass);


--
-- Name: product_specifications id; Type: DEFAULT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_specifications ALTER COLUMN id SET DEFAULT nextval('inventory.product_specifications_id_seq'::regclass);


--
-- Name: products id; Type: DEFAULT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.products ALTER COLUMN id SET DEFAULT nextval('inventory.products_id_seq'::regclass);


--
-- Name: subcategories id; Type: DEFAULT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.subcategories ALTER COLUMN id SET DEFAULT nextval('inventory.subcategories_id_seq'::regclass);


--
-- Name: brands brands_brand_name_key; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.brands
    ADD CONSTRAINT brands_brand_name_key UNIQUE (brand_name);


--
-- Name: brands brands_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.brands
    ADD CONSTRAINT brands_pkey PRIMARY KEY (id);


--
-- Name: categories categories_category_name_key; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.categories
    ADD CONSTRAINT categories_category_name_key UNIQUE (category_name);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: countries countries_country_code_key; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.countries
    ADD CONSTRAINT countries_country_code_key UNIQUE (country_code);


--
-- Name: countries countries_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.countries
    ADD CONSTRAINT countries_pkey PRIMARY KEY (id);


--
-- Name: designers designers_designer_name_key; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.designers
    ADD CONSTRAINT designers_designer_name_key UNIQUE (designer_name);


--
-- Name: designers designers_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.designers
    ADD CONSTRAINT designers_pkey PRIMARY KEY (id);


--
-- Name: inventory_transactions inventory_transactions_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.inventory_transactions
    ADD CONSTRAINT inventory_transactions_pkey PRIMARY KEY (id);


--
-- Name: product_dimensions product_dimensions_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_dimensions
    ADD CONSTRAINT product_dimensions_pkey PRIMARY KEY (id);


--
-- Name: product_dimensions product_dimensions_product_id_key; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_dimensions
    ADD CONSTRAINT product_dimensions_product_id_key UNIQUE (product_id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: product_packaging product_packaging_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_packaging
    ADD CONSTRAINT product_packaging_pkey PRIMARY KEY (id);


--
-- Name: product_packaging product_packaging_product_id_key; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_packaging
    ADD CONSTRAINT product_packaging_product_id_key UNIQUE (product_id);


--
-- Name: product_pricing product_pricing_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_pricing
    ADD CONSTRAINT product_pricing_pkey PRIMARY KEY (id);


--
-- Name: product_pricing product_pricing_product_id_key; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_pricing
    ADD CONSTRAINT product_pricing_product_id_key UNIQUE (product_id);


--
-- Name: product_specifications product_specifications_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_specifications
    ADD CONSTRAINT product_specifications_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: products products_sku_key; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.products
    ADD CONSTRAINT products_sku_key UNIQUE (sku);


--
-- Name: subcategories subcategories_category_id_subcategory_name_key; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.subcategories
    ADD CONSTRAINT subcategories_category_id_subcategory_name_key UNIQUE (category_id, subcategory_name);


--
-- Name: subcategories subcategories_pkey; Type: CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.subcategories
    ADD CONSTRAINT subcategories_pkey PRIMARY KEY (id);


--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: addresses addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT addresses_pkey PRIMARY KEY (id);


--
-- Name: analytics_events analytics_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_events
    ADD CONSTRAINT analytics_events_pkey PRIMARY KEY (id);


--
-- Name: banners banners_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.banners
    ADD CONSTRAINT banners_pkey PRIMARY KEY (id);


--
-- Name: brands brands_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_pkey PRIMARY KEY (id);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: carts carts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: content_blocks content_blocks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_blocks
    ADD CONSTRAINT content_blocks_pkey PRIMARY KEY (id);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: landing_pages landing_pages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.landing_pages
    ADD CONSTRAINT landing_pages_pkey PRIMARY KEY (id);


--
-- Name: landing_sections landing_sections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.landing_sections
    ADD CONSTRAINT landing_sections_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: order_status_history order_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: package_items package_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.package_items
    ADD CONSTRAINT package_items_pkey PRIMARY KEY (id);


--
-- Name: packages packages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.packages
    ADD CONSTRAINT packages_pkey PRIMARY KEY (id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: product_overrides product_overrides_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_overrides
    ADD CONSTRAINT product_overrides_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: promo_codes promo_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promo_codes
    ADD CONSTRAINT promo_codes_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: saved_search_terms saved_search_terms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_search_terms
    ADD CONSTRAINT saved_search_terms_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: idx_inv_brands_active; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_brands_active ON inventory.brands USING btree (is_active);


--
-- Name: idx_inv_brands_name; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_brands_name ON inventory.brands USING btree (brand_name);


--
-- Name: idx_inv_categories_active; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_categories_active ON inventory.categories USING btree (is_active);


--
-- Name: idx_inv_categories_name; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_categories_name ON inventory.categories USING btree (category_name);


--
-- Name: idx_inv_countries_code; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_countries_code ON inventory.countries USING btree (country_code);


--
-- Name: idx_inv_designers_name; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_designers_name ON inventory.designers USING btree (designer_name);


--
-- Name: idx_inv_dimensions_product; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_dimensions_product ON inventory.product_dimensions USING btree (product_id);


--
-- Name: idx_inv_images_order; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_images_order ON inventory.product_images USING btree (display_order);


--
-- Name: idx_inv_images_product; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_images_product ON inventory.product_images USING btree (product_id);


--
-- Name: idx_inv_packaging_product; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_packaging_product ON inventory.product_packaging USING btree (product_id);


--
-- Name: idx_inv_pricing_product; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_pricing_product ON inventory.product_pricing USING btree (product_id);


--
-- Name: idx_inv_products_active; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_products_active ON inventory.products USING btree (is_active);


--
-- Name: idx_inv_products_bestseller; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_products_bestseller ON inventory.products USING btree (is_best_seller);


--
-- Name: idx_inv_products_brand; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_products_brand ON inventory.products USING btree (brand_id);


--
-- Name: idx_inv_products_category; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_products_category ON inventory.products USING btree (category_id);


--
-- Name: idx_inv_products_featured; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_products_featured ON inventory.products USING btree (is_featured);


--
-- Name: idx_inv_products_new; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_products_new ON inventory.products USING btree (is_new);


--
-- Name: idx_inv_products_sku; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_products_sku ON inventory.products USING btree (sku);


--
-- Name: idx_inv_specs_product; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_specs_product ON inventory.product_specifications USING btree (product_id);


--
-- Name: idx_inv_subcategories_category; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_subcategories_category ON inventory.subcategories USING btree (category_id);


--
-- Name: idx_inv_subcategories_name; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_subcategories_name ON inventory.subcategories USING btree (subcategory_name);


--
-- Name: idx_inv_transactions_created; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_transactions_created ON inventory.inventory_transactions USING btree (created_at);


--
-- Name: idx_inv_transactions_product; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_transactions_product ON inventory.inventory_transactions USING btree (product_id);


--
-- Name: idx_inv_transactions_type; Type: INDEX; Schema: inventory; Owner: postgres
--

CREATE INDEX idx_inv_transactions_type ON inventory.inventory_transactions USING btree (transaction_type);


--
-- Name: addresses_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "addresses_userId_idx" ON public.addresses USING btree ("userId");


--
-- Name: analytics_events_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "analytics_events_createdAt_idx" ON public.analytics_events USING btree ("createdAt");


--
-- Name: analytics_events_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "analytics_events_productId_idx" ON public.analytics_events USING btree ("productId");


--
-- Name: analytics_events_sessionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "analytics_events_sessionId_idx" ON public.analytics_events USING btree ("sessionId");


--
-- Name: analytics_events_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX analytics_events_type_idx ON public.analytics_events USING btree (type);


--
-- Name: analytics_events_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "analytics_events_userId_idx" ON public.analytics_events USING btree ("userId");


--
-- Name: banners_displayOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "banners_displayOrder_idx" ON public.banners USING btree ("displayOrder");


--
-- Name: banners_endAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "banners_endAt_idx" ON public.banners USING btree ("endAt");


--
-- Name: banners_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "banners_isActive_idx" ON public.banners USING btree ("isActive");


--
-- Name: banners_placement_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX banners_placement_idx ON public.banners USING btree (placement);


--
-- Name: banners_startAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "banners_startAt_idx" ON public.banners USING btree ("startAt");


--
-- Name: brands_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX brands_name_key ON public.brands USING btree (name);


--
-- Name: brands_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX brands_slug_idx ON public.brands USING btree (slug);


--
-- Name: brands_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX brands_slug_key ON public.brands USING btree (slug);


--
-- Name: cart_items_cartId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "cart_items_cartId_idx" ON public.cart_items USING btree ("cartId");


--
-- Name: cart_items_packageId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "cart_items_packageId_idx" ON public.cart_items USING btree ("packageId");


--
-- Name: cart_items_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "cart_items_productId_idx" ON public.cart_items USING btree ("productId");


--
-- Name: carts_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "carts_userId_key" ON public.carts USING btree ("userId");


--
-- Name: categories_departmentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "categories_departmentId_idx" ON public.categories USING btree ("departmentId");


--
-- Name: categories_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX categories_slug_idx ON public.categories USING btree (slug);


--
-- Name: categories_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX categories_slug_key ON public.categories USING btree (slug);


--
-- Name: categories_sortOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "categories_sortOrder_idx" ON public.categories USING btree ("sortOrder");


--
-- Name: content_blocks_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "content_blocks_isActive_idx" ON public.content_blocks USING btree ("isActive");


--
-- Name: content_blocks_key_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX content_blocks_key_idx ON public.content_blocks USING btree (key);


--
-- Name: content_blocks_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX content_blocks_key_key ON public.content_blocks USING btree (key);


--
-- Name: content_blocks_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX content_blocks_type_idx ON public.content_blocks USING btree (type);


--
-- Name: departments_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX departments_name_key ON public.departments USING btree (name);


--
-- Name: departments_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX departments_slug_idx ON public.departments USING btree (slug);


--
-- Name: departments_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX departments_slug_key ON public.departments USING btree (slug);


--
-- Name: departments_sortOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "departments_sortOrder_idx" ON public.departments USING btree ("sortOrder");


--
-- Name: landing_pages_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "landing_pages_isActive_idx" ON public.landing_pages USING btree ("isActive");


--
-- Name: landing_pages_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX landing_pages_slug_idx ON public.landing_pages USING btree (slug);


--
-- Name: landing_pages_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX landing_pages_slug_key ON public.landing_pages USING btree (slug);


--
-- Name: landing_sections_displayOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "landing_sections_displayOrder_idx" ON public.landing_sections USING btree ("displayOrder");


--
-- Name: landing_sections_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "landing_sections_isActive_idx" ON public.landing_sections USING btree ("isActive");


--
-- Name: landing_sections_landingPageId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "landing_sections_landingPageId_idx" ON public.landing_sections USING btree ("landingPageId");


--
-- Name: order_items_orderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_items_orderId_idx" ON public.order_items USING btree ("orderId");


--
-- Name: order_items_packageId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_items_packageId_idx" ON public.order_items USING btree ("packageId");


--
-- Name: order_items_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_items_productId_idx" ON public.order_items USING btree ("productId");


--
-- Name: order_status_history_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_status_history_createdAt_idx" ON public.order_status_history USING btree ("createdAt");


--
-- Name: order_status_history_orderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_status_history_orderId_idx" ON public.order_status_history USING btree ("orderId");


--
-- Name: orders_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "orders_createdAt_idx" ON public.orders USING btree ("createdAt");


--
-- Name: orders_orderNumber_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "orders_orderNumber_idx" ON public.orders USING btree ("orderNumber");


--
-- Name: orders_orderNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "orders_orderNumber_key" ON public.orders USING btree ("orderNumber");


--
-- Name: orders_paymentStatus_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "orders_paymentStatus_idx" ON public.orders USING btree ("paymentStatus");


--
-- Name: orders_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_status_idx ON public.orders USING btree (status);


--
-- Name: orders_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "orders_userId_idx" ON public.orders USING btree ("userId");


--
-- Name: package_items_packageId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "package_items_packageId_idx" ON public.package_items USING btree ("packageId");


--
-- Name: package_items_packageId_productId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "package_items_packageId_productId_key" ON public.package_items USING btree ("packageId", "productId");


--
-- Name: package_items_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "package_items_productId_idx" ON public.package_items USING btree ("productId");


--
-- Name: packages_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "packages_isActive_idx" ON public.packages USING btree ("isActive");


--
-- Name: packages_isFeatured_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "packages_isFeatured_idx" ON public.packages USING btree ("isFeatured");


--
-- Name: packages_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX packages_slug_idx ON public.packages USING btree (slug);


--
-- Name: packages_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX packages_slug_key ON public.packages USING btree (slug);


--
-- Name: product_images_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_images_productId_idx" ON public.product_images USING btree ("productId");


--
-- Name: product_images_sortOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_images_sortOrder_idx" ON public.product_images USING btree ("sortOrder");


--
-- Name: product_overrides_homepageRank_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_overrides_homepageRank_idx" ON public.product_overrides USING btree ("homepageRank");


--
-- Name: product_overrides_inventoryId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_overrides_inventoryId_idx" ON public.product_overrides USING btree ("inventoryId");


--
-- Name: product_overrides_inventorySku_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_overrides_inventorySku_idx" ON public.product_overrides USING btree ("inventorySku");


--
-- Name: product_overrides_inventorySku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "product_overrides_inventorySku_key" ON public.product_overrides USING btree ("inventorySku");


--
-- Name: product_overrides_isBestSeller_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_overrides_isBestSeller_idx" ON public.product_overrides USING btree ("isBestSeller");


--
-- Name: product_overrides_isFeatured_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_overrides_isFeatured_idx" ON public.product_overrides USING btree ("isFeatured");


--
-- Name: product_overrides_isNew_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_overrides_isNew_idx" ON public.product_overrides USING btree ("isNew");


--
-- Name: products_brandId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_brandId_idx" ON public.products USING btree ("brandId");


--
-- Name: products_categoryId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_categoryId_idx" ON public.products USING btree ("categoryId");


--
-- Name: products_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_createdAt_idx" ON public.products USING btree ("createdAt");


--
-- Name: products_departmentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_departmentId_idx" ON public.products USING btree ("departmentId");


--
-- Name: products_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_isActive_idx" ON public.products USING btree ("isActive");


--
-- Name: products_isBestSeller_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_isBestSeller_idx" ON public.products USING btree ("isBestSeller");


--
-- Name: products_isFeatured_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_isFeatured_idx" ON public.products USING btree ("isFeatured");


--
-- Name: products_price_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_price_idx ON public.products USING btree (price);


--
-- Name: products_sku_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_sku_idx ON public.products USING btree (sku);


--
-- Name: products_sku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX products_sku_key ON public.products USING btree (sku);


--
-- Name: products_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_slug_idx ON public.products USING btree (slug);


--
-- Name: products_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX products_slug_key ON public.products USING btree (slug);


--
-- Name: promo_codes_code_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promo_codes_code_idx ON public.promo_codes USING btree (code);


--
-- Name: promo_codes_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX promo_codes_code_key ON public.promo_codes USING btree (code);


--
-- Name: promo_codes_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "promo_codes_expiresAt_idx" ON public.promo_codes USING btree ("expiresAt");


--
-- Name: promo_codes_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "promo_codes_isActive_idx" ON public.promo_codes USING btree ("isActive");


--
-- Name: promo_codes_startsAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "promo_codes_startsAt_idx" ON public.promo_codes USING btree ("startsAt");


--
-- Name: refresh_tokens_token_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX refresh_tokens_token_idx ON public.refresh_tokens USING btree (token);


--
-- Name: refresh_tokens_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX refresh_tokens_token_key ON public.refresh_tokens USING btree (token);


--
-- Name: refresh_tokens_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "refresh_tokens_userId_idx" ON public.refresh_tokens USING btree ("userId");


--
-- Name: saved_search_terms_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "saved_search_terms_createdAt_idx" ON public.saved_search_terms USING btree ("createdAt");


--
-- Name: saved_search_terms_term_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX saved_search_terms_term_idx ON public.saved_search_terms USING btree (term);


--
-- Name: saved_search_terms_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "saved_search_terms_userId_idx" ON public.saved_search_terms USING btree ("userId");


--
-- Name: users_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "users_createdAt_idx" ON public.users USING btree ("createdAt");


--
-- Name: users_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_email_idx ON public.users USING btree (email);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_role_idx ON public.users USING btree (role);


--
-- Name: inventory_transactions inventory_transactions_product_id_fkey; Type: FK CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.inventory_transactions
    ADD CONSTRAINT inventory_transactions_product_id_fkey FOREIGN KEY (product_id) REFERENCES inventory.products(id) ON DELETE CASCADE;


--
-- Name: product_dimensions product_dimensions_product_id_fkey; Type: FK CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_dimensions
    ADD CONSTRAINT product_dimensions_product_id_fkey FOREIGN KEY (product_id) REFERENCES inventory.products(id) ON DELETE CASCADE;


--
-- Name: product_images product_images_product_id_fkey; Type: FK CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_images
    ADD CONSTRAINT product_images_product_id_fkey FOREIGN KEY (product_id) REFERENCES inventory.products(id) ON DELETE CASCADE;


--
-- Name: product_packaging product_packaging_product_id_fkey; Type: FK CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_packaging
    ADD CONSTRAINT product_packaging_product_id_fkey FOREIGN KEY (product_id) REFERENCES inventory.products(id) ON DELETE CASCADE;


--
-- Name: product_pricing product_pricing_product_id_fkey; Type: FK CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_pricing
    ADD CONSTRAINT product_pricing_product_id_fkey FOREIGN KEY (product_id) REFERENCES inventory.products(id) ON DELETE CASCADE;


--
-- Name: product_specifications product_specifications_product_id_fkey; Type: FK CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.product_specifications
    ADD CONSTRAINT product_specifications_product_id_fkey FOREIGN KEY (product_id) REFERENCES inventory.products(id) ON DELETE CASCADE;


--
-- Name: products products_brand_id_fkey; Type: FK CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.products
    ADD CONSTRAINT products_brand_id_fkey FOREIGN KEY (brand_id) REFERENCES inventory.brands(id) ON DELETE SET NULL;


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES inventory.categories(id) ON DELETE SET NULL;


--
-- Name: products products_country_id_fkey; Type: FK CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.products
    ADD CONSTRAINT products_country_id_fkey FOREIGN KEY (country_id) REFERENCES inventory.countries(id) ON DELETE SET NULL;


--
-- Name: products products_designer_id_fkey; Type: FK CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.products
    ADD CONSTRAINT products_designer_id_fkey FOREIGN KEY (designer_id) REFERENCES inventory.designers(id) ON DELETE SET NULL;


--
-- Name: products products_subcategory_id_fkey; Type: FK CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.products
    ADD CONSTRAINT products_subcategory_id_fkey FOREIGN KEY (subcategory_id) REFERENCES inventory.subcategories(id) ON DELETE SET NULL;


--
-- Name: subcategories subcategories_category_id_fkey; Type: FK CONSTRAINT; Schema: inventory; Owner: postgres
--

ALTER TABLE ONLY inventory.subcategories
    ADD CONSTRAINT subcategories_category_id_fkey FOREIGN KEY (category_id) REFERENCES inventory.categories(id) ON DELETE CASCADE;


--
-- Name: addresses addresses_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT "addresses_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: analytics_events analytics_events_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_events
    ADD CONSTRAINT "analytics_events_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: analytics_events analytics_events_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_events
    ADD CONSTRAINT "analytics_events_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: cart_items cart_items_cartId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT "cart_items_cartId_fkey" FOREIGN KEY ("cartId") REFERENCES public.carts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cart_items cart_items_packageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT "cart_items_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES public.packages(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cart_items cart_items_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT "cart_items_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: carts carts_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT "carts_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: categories categories_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "categories_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public.departments(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: landing_pages landing_pages_heroBannerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.landing_pages
    ADD CONSTRAINT "landing_pages_heroBannerId_fkey" FOREIGN KEY ("heroBannerId") REFERENCES public.banners(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: landing_sections landing_sections_landingPageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.landing_sections
    ADD CONSTRAINT "landing_sections_landingPageId_fkey" FOREIGN KEY ("landingPageId") REFERENCES public.landing_pages(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_packageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES public.packages(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: order_items order_items_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: order_status_history order_status_history_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT "order_status_history_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders orders_billingAddressId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_billingAddressId_fkey" FOREIGN KEY ("billingAddressId") REFERENCES public.addresses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_shippingAddressId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_shippingAddressId_fkey" FOREIGN KEY ("shippingAddressId") REFERENCES public.addresses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: package_items package_items_packageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.package_items
    ADD CONSTRAINT "package_items_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES public.packages(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: package_items package_items_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.package_items
    ADD CONSTRAINT "package_items_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product_images product_images_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT "product_images_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products products_brandId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_brandId_fkey" FOREIGN KEY ("brandId") REFERENCES public.brands(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: products products_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: products products_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public.departments(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: refresh_tokens refresh_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT "refresh_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict 1B6Ig3o43frPzheSojeUom4G15P3XhHgAZ2IO8LkQdHjBQAhdy4aqCU4fA3B42I

