--
-- PostgreSQL database dump
--

\restrict uRHN0P87afN6d0ZM3kyBLI4fn4rHmaOUHOJfo6mUFTSWmVb1Qk1hWOi8VlcDAPD

-- Dumped from database version 17.7
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: AnalyticsEventType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."AnalyticsEventType" AS ENUM (
    'PAGE_VIEW',
    'PRODUCT_VIEW',
    'PRODUCT_SEARCH',
    'ADD_TO_CART',
    'REMOVE_FROM_CART',
    'CART_VIEW',
    'CHECKOUT_START',
    'CHECKOUT_COMPLETE',
    'ORDER_PLACED'
);


ALTER TYPE public."AnalyticsEventType" OWNER TO postgres;

--
-- Name: BannerPlacement; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."BannerPlacement" AS ENUM (
    'HOME_HERO',
    'HOME_MID',
    'CATEGORY_TOP',
    'CATEGORY_MID',
    'PRODUCT_SIDEBAR',
    'CHECKOUT_TOP',
    'HOME_SECONDARY',
    'CATEGORY',
    'PROMOTION'
);


ALTER TYPE public."BannerPlacement" OWNER TO postgres;

--
-- Name: CartItemType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."CartItemType" AS ENUM (
    'PRODUCT',
    'PACKAGE'
);


ALTER TYPE public."CartItemType" OWNER TO postgres;

--
-- Name: ContentBlockType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ContentBlockType" AS ENUM (
    'HOMEPAGE_SECTION',
    'ABOUT_US',
    'FOOTER_INFO',
    'CUSTOM'
);


ALTER TYPE public."ContentBlockType" OWNER TO postgres;

--
-- Name: LandingSectionType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."LandingSectionType" AS ENUM (
    'PRODUCT_GRID',
    'CATEGORY_GRID',
    'RICH_TEXT',
    'IMAGE',
    'BANNER_CAROUSEL'
);


ALTER TYPE public."LandingSectionType" OWNER TO postgres;

--
-- Name: OrderStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."OrderStatus" AS ENUM (
    'PENDING',
    'PAYMENT_PENDING',
    'PAID',
    'PROCESSING',
    'SHIPPED',
    'DELIVERED',
    'CANCELLED',
    'REFUNDED'
);


ALTER TYPE public."OrderStatus" OWNER TO postgres;

--
-- Name: PaymentStatus; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PaymentStatus" AS ENUM (
    'PENDING',
    'AUTHORIZED',
    'PAID',
    'FAILED',
    'REFUNDED'
);


ALTER TYPE public."PaymentStatus" OWNER TO postgres;

--
-- Name: PromoType; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."PromoType" AS ENUM (
    'PERCENTAGE',
    'FIXED_AMOUNT',
    'FREE_SHIPPING'
);


ALTER TYPE public."PromoType" OWNER TO postgres;

--
-- Name: ShippingMethod; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."ShippingMethod" AS ENUM (
    'STANDARD',
    'EXPRESS',
    'OVERNIGHT',
    'PICKUP'
);


ALTER TYPE public."ShippingMethod" OWNER TO postgres;

--
-- Name: UserRole; Type: TYPE; Schema: public; Owner: postgres
--

CREATE TYPE public."UserRole" AS ENUM (
    'CUSTOMER',
    'ADMIN',
    'SUPER_ADMIN'
);


ALTER TYPE public."UserRole" OWNER TO postgres;

SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: _prisma_migrations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public._prisma_migrations (
    id character varying(36) NOT NULL,
    checksum character varying(64) NOT NULL,
    finished_at timestamp with time zone,
    migration_name character varying(255) NOT NULL,
    logs text,
    rolled_back_at timestamp with time zone,
    started_at timestamp with time zone DEFAULT now() NOT NULL,
    applied_steps_count integer DEFAULT 0 NOT NULL
);


ALTER TABLE public._prisma_migrations OWNER TO postgres;

--
-- Name: addresses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.addresses (
    id text NOT NULL,
    "userId" text NOT NULL,
    "firstName" text NOT NULL,
    "lastName" text NOT NULL,
    company text,
    "addressLine1" text NOT NULL,
    "addressLine2" text,
    city text NOT NULL,
    state text NOT NULL,
    "postalCode" text NOT NULL,
    country text DEFAULT 'US'::text NOT NULL,
    phone text NOT NULL,
    "isDefault" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.addresses OWNER TO postgres;

--
-- Name: analytics_events; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.analytics_events (
    id text NOT NULL,
    type public."AnalyticsEventType" NOT NULL,
    "userId" text,
    "productId" text,
    metadata text,
    "sessionId" text,
    "ipAddress" text,
    "userAgent" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.analytics_events OWNER TO postgres;

--
-- Name: banners; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.banners (
    id text NOT NULL,
    title text NOT NULL,
    subtitle text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "ctaText" text,
    "ctaUrl" text,
    "displayOrder" integer DEFAULT 0 NOT NULL,
    "endAt" timestamp(3) without time zone,
    "imageDesktopUrl" text DEFAULT ''::text NOT NULL,
    "imageMobileUrl" text,
    placement public."BannerPlacement" DEFAULT 'HOME_HERO'::public."BannerPlacement" NOT NULL,
    "startAt" timestamp(3) without time zone
);


ALTER TABLE public.banners OWNER TO postgres;

--
-- Name: brands; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.brands (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    logo text,
    website text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.brands OWNER TO postgres;

--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_items (
    id text NOT NULL,
    "cartId" text NOT NULL,
    type public."CartItemType" NOT NULL,
    "productId" text,
    "packageId" text,
    quantity integer DEFAULT 1 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.cart_items OWNER TO postgres;

--
-- Name: carts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carts (
    id text NOT NULL,
    "userId" text NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.carts OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    id text NOT NULL,
    "departmentId" text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    image text,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: content_blocks; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.content_blocks (
    id text NOT NULL,
    key text NOT NULL,
    type public."ContentBlockType" NOT NULL,
    title text,
    content text NOT NULL,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.content_blocks OWNER TO postgres;

--
-- Name: departments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.departments (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    icon text,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.departments OWNER TO postgres;

--
-- Name: landing_pages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.landing_pages (
    id text NOT NULL,
    slug text NOT NULL,
    title text NOT NULL,
    "heroBannerId" text,
    "seoTitle" text,
    "seoDescription" text,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.landing_pages OWNER TO postgres;

--
-- Name: landing_sections; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.landing_sections (
    id text NOT NULL,
    "landingPageId" text NOT NULL,
    type public."LandingSectionType" NOT NULL,
    data text NOT NULL,
    "displayOrder" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.landing_sections OWNER TO postgres;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    id text NOT NULL,
    "orderId" text NOT NULL,
    type public."CartItemType" NOT NULL,
    "productId" text,
    "packageId" text,
    name text NOT NULL,
    sku text,
    quantity integer NOT NULL,
    price numeric(10,2) NOT NULL,
    subtotal numeric(10,2) NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_status_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_status_history (
    id text NOT NULL,
    "orderId" text NOT NULL,
    status public."OrderStatus" NOT NULL,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "createdBy" text
);


ALTER TABLE public.order_status_history OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    id text NOT NULL,
    "orderNumber" text NOT NULL,
    "userId" text NOT NULL,
    status public."OrderStatus" DEFAULT 'PENDING'::public."OrderStatus" NOT NULL,
    "paymentStatus" public."PaymentStatus" DEFAULT 'PENDING'::public."PaymentStatus" NOT NULL,
    "shippingAddressId" text NOT NULL,
    "billingAddressId" text NOT NULL,
    "shippingMethod" public."ShippingMethod" NOT NULL,
    "shippingCost" numeric(10,2) NOT NULL,
    "trackingNumber" text,
    subtotal numeric(10,2) NOT NULL,
    discount numeric(10,2) DEFAULT 0 NOT NULL,
    tax numeric(10,2) NOT NULL,
    total numeric(10,2) NOT NULL,
    "promoCode" text,
    "paymentIntentId" text,
    "paymentMethod" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "paidAt" timestamp(3) without time zone,
    "shippedAt" timestamp(3) without time zone,
    "deliveredAt" timestamp(3) without time zone
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: package_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.package_items (
    id text NOT NULL,
    "packageId" text NOT NULL,
    "productId" text NOT NULL,
    quantity integer DEFAULT 1 NOT NULL
);


ALTER TABLE public.package_items OWNER TO postgres;

--
-- Name: packages; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.packages (
    id text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    "longDescription" text,
    image text,
    price numeric(10,2) NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "isFeatured" boolean DEFAULT false NOT NULL,
    "metaTitle" text,
    "metaDescription" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.packages OWNER TO postgres;

--
-- Name: product_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_images (
    id text NOT NULL,
    "productId" text NOT NULL,
    url text NOT NULL,
    alt text,
    "sortOrder" integer DEFAULT 0 NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.product_images OWNER TO postgres;

--
-- Name: product_overrides; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_overrides (
    id text NOT NULL,
    "inventorySku" text NOT NULL,
    "inventoryId" integer,
    "isFeatured" boolean,
    "isNew" boolean,
    "isBestSeller" boolean,
    "homepageRank" integer,
    "categoryRank" integer,
    "customPrice" numeric(10,2),
    "customSalePrice" numeric(10,2),
    "customPriceInclVat" numeric(10,2),
    "customImagesJson" text,
    "customDescription" text,
    "customLongDescription" text,
    "metaTitle" text,
    "metaDescription" text,
    "metaKeywords" text,
    notes text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "createdBy" text,
    "updatedBy" text
);


ALTER TABLE public.product_overrides OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    id text NOT NULL,
    sku text NOT NULL,
    name text NOT NULL,
    slug text NOT NULL,
    description text,
    "longDescription" text,
    "departmentId" text NOT NULL,
    "categoryId" text NOT NULL,
    "brandId" text,
    price numeric(10,2) NOT NULL,
    "compareAtPrice" numeric(10,2),
    cost numeric(10,2),
    stock integer DEFAULT 0 NOT NULL,
    "lowStockThreshold" integer DEFAULT 10 NOT NULL,
    weight numeric(10,2),
    dimensions text,
    material text,
    color text,
    size text,
    attributes text,
    "isFeatured" boolean DEFAULT false NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "isNew" boolean DEFAULT false NOT NULL,
    "isBestSeller" boolean DEFAULT false NOT NULL,
    "metaTitle" text,
    "metaDescription" text,
    "metaKeywords" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: promo_codes; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.promo_codes (
    id text NOT NULL,
    code text NOT NULL,
    description text,
    type public."PromoType" NOT NULL,
    value numeric(10,2) NOT NULL,
    "minOrderAmount" numeric(10,2),
    "maxDiscount" numeric(10,2),
    "usageLimit" integer,
    "usageCount" integer DEFAULT 0 NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "startsAt" timestamp(3) without time zone NOT NULL,
    "expiresAt" timestamp(3) without time zone,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL
);


ALTER TABLE public.promo_codes OWNER TO postgres;

--
-- Name: refresh_tokens; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.refresh_tokens (
    id text NOT NULL,
    token text NOT NULL,
    "userId" text NOT NULL,
    "expiresAt" timestamp(3) without time zone NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "isRevoked" boolean DEFAULT false NOT NULL
);


ALTER TABLE public.refresh_tokens OWNER TO postgres;

--
-- Name: saved_search_terms; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.saved_search_terms (
    id text NOT NULL,
    term text NOT NULL,
    "resultCount" integer NOT NULL,
    "userId" text,
    "sessionId" text,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL
);


ALTER TABLE public.saved_search_terms OWNER TO postgres;

--
-- Name: users; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.users (
    id text NOT NULL,
    email text NOT NULL,
    "passwordHash" text NOT NULL,
    "firstName" text,
    "lastName" text,
    phone text,
    role public."UserRole" DEFAULT 'CUSTOMER'::public."UserRole" NOT NULL,
    "isActive" boolean DEFAULT true NOT NULL,
    "emailVerified" boolean DEFAULT false NOT NULL,
    "createdAt" timestamp(3) without time zone DEFAULT CURRENT_TIMESTAMP NOT NULL,
    "updatedAt" timestamp(3) without time zone NOT NULL,
    "lastLoginAt" timestamp(3) without time zone
);


ALTER TABLE public.users OWNER TO postgres;

--
-- Data for Name: _prisma_migrations; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: addresses; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.addresses (id, "userId", "firstName", "lastName", company, "addressLine1", "addressLine2", city, state, "postalCode", country, phone, "isDefault", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: analytics_events; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.analytics_events (id, type, "userId", "productId", metadata, "sessionId", "ipAddress", "userAgent", "createdAt") FROM stdin;
\.


--
-- Data for Name: banners; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.banners (id, title, subtitle, "isActive", "createdAt", "updatedAt", "ctaText", "ctaUrl", "displayOrder", "endAt", "imageDesktopUrl", "imageMobileUrl", placement, "startAt") FROM stdin;
1	Welcome to Solo Ecommerce	Discover premium products for your lifestyle	t	2025-12-27 23:52:04.23	2025-12-27 23:52:04.23	Shop Now	/products	1	\N	/images/hero-banner.jpg	/images/hero-banner-mobile.jpg	HOME_HERO	\N
\.


--
-- Data for Name: brands; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: cart_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.cart_items (id, "cartId", type, "productId", "packageId", quantity, "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: carts; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.carts (id, "userId", "createdAt", "updatedAt") FROM stdin;
d9dd983c-49b4-4bf1-a63f-a5295bf4574e	7b66da60-bb24-4794-a402-1e70f577bfbd	2025-12-09 14:26:09.614	2025-12-09 14:26:09.614
\.


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: content_blocks; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.content_blocks (id, key, type, title, content, "sortOrder", "isActive", "createdAt", "updatedAt") FROM stdin;
943ad8ed-77b8-4008-a3d7-b078dc952ec1	homepage_about	HOMEPAGE_SECTION	About Solo	Quality products for modern living. We curate the best items for your home, travel, and lifestyle.	1	t	2025-12-09 14:26:09.76	2025-12-09 14:26:09.76
\.


--
-- Data for Name: departments; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: landing_pages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.landing_pages (id, slug, title, "heroBannerId", "seoTitle", "seoDescription", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: landing_sections; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.landing_sections (id, "landingPageId", type, data, "displayOrder", "isActive", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: order_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_items (id, "orderId", type, "productId", "packageId", name, sku, quantity, price, subtotal, "createdAt") FROM stdin;
\.


--
-- Data for Name: order_status_history; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.order_status_history (id, "orderId", status, notes, "createdAt", "createdBy") FROM stdin;
\.


--
-- Data for Name: orders; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.orders (id, "orderNumber", "userId", status, "paymentStatus", "shippingAddressId", "billingAddressId", "shippingMethod", "shippingCost", "trackingNumber", subtotal, discount, tax, total, "promoCode", "paymentIntentId", "paymentMethod", notes, "createdAt", "updatedAt", "paidAt", "shippedAt", "deliveredAt") FROM stdin;
\.


--
-- Data for Name: package_items; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.package_items (id, "packageId", "productId", quantity) FROM stdin;
\.


--
-- Data for Name: packages; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.packages (id, name, slug, description, "longDescription", image, price, "isActive", "isFeatured", "metaTitle", "metaDescription", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: product_images; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_images (id, "productId", url, alt, "sortOrder", "createdAt") FROM stdin;
\.


--
-- Data for Name: product_overrides; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.product_overrides (id, "inventorySku", "inventoryId", "isFeatured", "isNew", "isBestSeller", "homepageRank", "categoryRank", "customPrice", "customSalePrice", "customPriceInclVat", "customImagesJson", "customDescription", "customLongDescription", "metaTitle", "metaDescription", "metaKeywords", notes, "createdAt", "updatedAt", "createdBy", "updatedBy") FROM stdin;
\.


--
-- Data for Name: products; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: promo_codes; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.promo_codes (id, code, description, type, value, "minOrderAmount", "maxDiscount", "usageLimit", "usageCount", "isActive", "startsAt", "expiresAt", "createdAt", "updatedAt") FROM stdin;
\.


--
-- Data for Name: refresh_tokens; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Data for Name: saved_search_terms; Type: TABLE DATA; Schema: public; Owner: postgres
--

COPY public.saved_search_terms (id, term, "resultCount", "userId", "sessionId", "createdAt") FROM stdin;
\.


--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: postgres
--



--
-- Name: _prisma_migrations _prisma_migrations_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public._prisma_migrations
    ADD CONSTRAINT _prisma_migrations_pkey PRIMARY KEY (id);


--
-- Name: addresses addresses_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT addresses_pkey PRIMARY KEY (id);


--
-- Name: analytics_events analytics_events_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_events
    ADD CONSTRAINT analytics_events_pkey PRIMARY KEY (id);


--
-- Name: banners banners_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.banners
    ADD CONSTRAINT banners_pkey PRIMARY KEY (id);


--
-- Name: brands brands_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.brands
    ADD CONSTRAINT brands_pkey PRIMARY KEY (id);


--
-- Name: cart_items cart_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey PRIMARY KEY (id);


--
-- Name: carts carts_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey PRIMARY KEY (id);


--
-- Name: categories categories_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey PRIMARY KEY (id);


--
-- Name: content_blocks content_blocks_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.content_blocks
    ADD CONSTRAINT content_blocks_pkey PRIMARY KEY (id);


--
-- Name: departments departments_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.departments
    ADD CONSTRAINT departments_pkey PRIMARY KEY (id);


--
-- Name: landing_pages landing_pages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.landing_pages
    ADD CONSTRAINT landing_pages_pkey PRIMARY KEY (id);


--
-- Name: landing_sections landing_sections_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.landing_sections
    ADD CONSTRAINT landing_sections_pkey PRIMARY KEY (id);


--
-- Name: order_items order_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey PRIMARY KEY (id);


--
-- Name: order_status_history order_status_history_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_pkey PRIMARY KEY (id);


--
-- Name: orders orders_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey PRIMARY KEY (id);


--
-- Name: package_items package_items_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.package_items
    ADD CONSTRAINT package_items_pkey PRIMARY KEY (id);


--
-- Name: packages packages_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.packages
    ADD CONSTRAINT packages_pkey PRIMARY KEY (id);


--
-- Name: product_images product_images_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey PRIMARY KEY (id);


--
-- Name: product_overrides product_overrides_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_overrides
    ADD CONSTRAINT product_overrides_pkey PRIMARY KEY (id);


--
-- Name: products products_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey PRIMARY KEY (id);


--
-- Name: promo_codes promo_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.promo_codes
    ADD CONSTRAINT promo_codes_pkey PRIMARY KEY (id);


--
-- Name: refresh_tokens refresh_tokens_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT refresh_tokens_pkey PRIMARY KEY (id);


--
-- Name: saved_search_terms saved_search_terms_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.saved_search_terms
    ADD CONSTRAINT saved_search_terms_pkey PRIMARY KEY (id);


--
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- Name: addresses_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "addresses_userId_idx" ON public.addresses USING btree ("userId");


--
-- Name: analytics_events_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "analytics_events_createdAt_idx" ON public.analytics_events USING btree ("createdAt");


--
-- Name: analytics_events_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "analytics_events_productId_idx" ON public.analytics_events USING btree ("productId");


--
-- Name: analytics_events_sessionId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "analytics_events_sessionId_idx" ON public.analytics_events USING btree ("sessionId");


--
-- Name: analytics_events_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX analytics_events_type_idx ON public.analytics_events USING btree (type);


--
-- Name: analytics_events_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "analytics_events_userId_idx" ON public.analytics_events USING btree ("userId");


--
-- Name: banners_displayOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "banners_displayOrder_idx" ON public.banners USING btree ("displayOrder");


--
-- Name: banners_endAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "banners_endAt_idx" ON public.banners USING btree ("endAt");


--
-- Name: banners_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "banners_isActive_idx" ON public.banners USING btree ("isActive");


--
-- Name: banners_placement_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX banners_placement_idx ON public.banners USING btree (placement);


--
-- Name: banners_startAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "banners_startAt_idx" ON public.banners USING btree ("startAt");


--
-- Name: brands_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX brands_name_key ON public.brands USING btree (name);


--
-- Name: brands_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX brands_slug_idx ON public.brands USING btree (slug);


--
-- Name: brands_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX brands_slug_key ON public.brands USING btree (slug);


--
-- Name: cart_items_cartId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "cart_items_cartId_idx" ON public.cart_items USING btree ("cartId");


--
-- Name: cart_items_packageId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "cart_items_packageId_idx" ON public.cart_items USING btree ("packageId");


--
-- Name: cart_items_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "cart_items_productId_idx" ON public.cart_items USING btree ("productId");


--
-- Name: carts_userId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "carts_userId_key" ON public.carts USING btree ("userId");


--
-- Name: categories_departmentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "categories_departmentId_idx" ON public.categories USING btree ("departmentId");


--
-- Name: categories_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX categories_slug_idx ON public.categories USING btree (slug);


--
-- Name: categories_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX categories_slug_key ON public.categories USING btree (slug);


--
-- Name: categories_sortOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "categories_sortOrder_idx" ON public.categories USING btree ("sortOrder");


--
-- Name: content_blocks_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "content_blocks_isActive_idx" ON public.content_blocks USING btree ("isActive");


--
-- Name: content_blocks_key_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX content_blocks_key_idx ON public.content_blocks USING btree (key);


--
-- Name: content_blocks_key_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX content_blocks_key_key ON public.content_blocks USING btree (key);


--
-- Name: content_blocks_type_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX content_blocks_type_idx ON public.content_blocks USING btree (type);


--
-- Name: departments_name_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX departments_name_key ON public.departments USING btree (name);


--
-- Name: departments_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX departments_slug_idx ON public.departments USING btree (slug);


--
-- Name: departments_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX departments_slug_key ON public.departments USING btree (slug);


--
-- Name: departments_sortOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "departments_sortOrder_idx" ON public.departments USING btree ("sortOrder");


--
-- Name: landing_pages_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "landing_pages_isActive_idx" ON public.landing_pages USING btree ("isActive");


--
-- Name: landing_pages_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX landing_pages_slug_idx ON public.landing_pages USING btree (slug);


--
-- Name: landing_pages_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX landing_pages_slug_key ON public.landing_pages USING btree (slug);


--
-- Name: landing_sections_displayOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "landing_sections_displayOrder_idx" ON public.landing_sections USING btree ("displayOrder");


--
-- Name: landing_sections_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "landing_sections_isActive_idx" ON public.landing_sections USING btree ("isActive");


--
-- Name: landing_sections_landingPageId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "landing_sections_landingPageId_idx" ON public.landing_sections USING btree ("landingPageId");


--
-- Name: order_items_orderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_items_orderId_idx" ON public.order_items USING btree ("orderId");


--
-- Name: order_items_packageId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_items_packageId_idx" ON public.order_items USING btree ("packageId");


--
-- Name: order_items_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_items_productId_idx" ON public.order_items USING btree ("productId");


--
-- Name: order_status_history_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_status_history_createdAt_idx" ON public.order_status_history USING btree ("createdAt");


--
-- Name: order_status_history_orderId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "order_status_history_orderId_idx" ON public.order_status_history USING btree ("orderId");


--
-- Name: orders_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "orders_createdAt_idx" ON public.orders USING btree ("createdAt");


--
-- Name: orders_orderNumber_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "orders_orderNumber_idx" ON public.orders USING btree ("orderNumber");


--
-- Name: orders_orderNumber_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "orders_orderNumber_key" ON public.orders USING btree ("orderNumber");


--
-- Name: orders_paymentStatus_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "orders_paymentStatus_idx" ON public.orders USING btree ("paymentStatus");


--
-- Name: orders_status_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX orders_status_idx ON public.orders USING btree (status);


--
-- Name: orders_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "orders_userId_idx" ON public.orders USING btree ("userId");


--
-- Name: package_items_packageId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "package_items_packageId_idx" ON public.package_items USING btree ("packageId");


--
-- Name: package_items_packageId_productId_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "package_items_packageId_productId_key" ON public.package_items USING btree ("packageId", "productId");


--
-- Name: package_items_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "package_items_productId_idx" ON public.package_items USING btree ("productId");


--
-- Name: packages_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "packages_isActive_idx" ON public.packages USING btree ("isActive");


--
-- Name: packages_isFeatured_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "packages_isFeatured_idx" ON public.packages USING btree ("isFeatured");


--
-- Name: packages_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX packages_slug_idx ON public.packages USING btree (slug);


--
-- Name: packages_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX packages_slug_key ON public.packages USING btree (slug);


--
-- Name: product_images_productId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_images_productId_idx" ON public.product_images USING btree ("productId");


--
-- Name: product_images_sortOrder_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_images_sortOrder_idx" ON public.product_images USING btree ("sortOrder");


--
-- Name: product_overrides_homepageRank_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_overrides_homepageRank_idx" ON public.product_overrides USING btree ("homepageRank");


--
-- Name: product_overrides_inventoryId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_overrides_inventoryId_idx" ON public.product_overrides USING btree ("inventoryId");


--
-- Name: product_overrides_inventorySku_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_overrides_inventorySku_idx" ON public.product_overrides USING btree ("inventorySku");


--
-- Name: product_overrides_inventorySku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX "product_overrides_inventorySku_key" ON public.product_overrides USING btree ("inventorySku");


--
-- Name: product_overrides_isBestSeller_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_overrides_isBestSeller_idx" ON public.product_overrides USING btree ("isBestSeller");


--
-- Name: product_overrides_isFeatured_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_overrides_isFeatured_idx" ON public.product_overrides USING btree ("isFeatured");


--
-- Name: product_overrides_isNew_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "product_overrides_isNew_idx" ON public.product_overrides USING btree ("isNew");


--
-- Name: products_brandId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_brandId_idx" ON public.products USING btree ("brandId");


--
-- Name: products_categoryId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_categoryId_idx" ON public.products USING btree ("categoryId");


--
-- Name: products_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_createdAt_idx" ON public.products USING btree ("createdAt");


--
-- Name: products_departmentId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_departmentId_idx" ON public.products USING btree ("departmentId");


--
-- Name: products_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_isActive_idx" ON public.products USING btree ("isActive");


--
-- Name: products_isBestSeller_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_isBestSeller_idx" ON public.products USING btree ("isBestSeller");


--
-- Name: products_isFeatured_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "products_isFeatured_idx" ON public.products USING btree ("isFeatured");


--
-- Name: products_price_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_price_idx ON public.products USING btree (price);


--
-- Name: products_sku_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_sku_idx ON public.products USING btree (sku);


--
-- Name: products_sku_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX products_sku_key ON public.products USING btree (sku);


--
-- Name: products_slug_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX products_slug_idx ON public.products USING btree (slug);


--
-- Name: products_slug_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX products_slug_key ON public.products USING btree (slug);


--
-- Name: promo_codes_code_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX promo_codes_code_idx ON public.promo_codes USING btree (code);


--
-- Name: promo_codes_code_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX promo_codes_code_key ON public.promo_codes USING btree (code);


--
-- Name: promo_codes_expiresAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "promo_codes_expiresAt_idx" ON public.promo_codes USING btree ("expiresAt");


--
-- Name: promo_codes_isActive_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "promo_codes_isActive_idx" ON public.promo_codes USING btree ("isActive");


--
-- Name: promo_codes_startsAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "promo_codes_startsAt_idx" ON public.promo_codes USING btree ("startsAt");


--
-- Name: refresh_tokens_token_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX refresh_tokens_token_idx ON public.refresh_tokens USING btree (token);


--
-- Name: refresh_tokens_token_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX refresh_tokens_token_key ON public.refresh_tokens USING btree (token);


--
-- Name: refresh_tokens_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "refresh_tokens_userId_idx" ON public.refresh_tokens USING btree ("userId");


--
-- Name: saved_search_terms_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "saved_search_terms_createdAt_idx" ON public.saved_search_terms USING btree ("createdAt");


--
-- Name: saved_search_terms_term_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX saved_search_terms_term_idx ON public.saved_search_terms USING btree (term);


--
-- Name: saved_search_terms_userId_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "saved_search_terms_userId_idx" ON public.saved_search_terms USING btree ("userId");


--
-- Name: users_createdAt_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX "users_createdAt_idx" ON public.users USING btree ("createdAt");


--
-- Name: users_email_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_email_idx ON public.users USING btree (email);


--
-- Name: users_email_key; Type: INDEX; Schema: public; Owner: postgres
--

CREATE UNIQUE INDEX users_email_key ON public.users USING btree (email);


--
-- Name: users_role_idx; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX users_role_idx ON public.users USING btree (role);


--
-- Name: addresses addresses_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT "addresses_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: analytics_events analytics_events_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_events
    ADD CONSTRAINT "analytics_events_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: analytics_events analytics_events_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.analytics_events
    ADD CONSTRAINT "analytics_events_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: cart_items cart_items_cartId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT "cart_items_cartId_fkey" FOREIGN KEY ("cartId") REFERENCES public.carts(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cart_items cart_items_packageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT "cart_items_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES public.packages(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: cart_items cart_items_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT "cart_items_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: carts carts_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT "carts_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: categories categories_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "categories_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public.departments(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: landing_pages landing_pages_heroBannerId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.landing_pages
    ADD CONSTRAINT "landing_pages_heroBannerId_fkey" FOREIGN KEY ("heroBannerId") REFERENCES public.banners(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: landing_sections landing_sections_landingPageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.landing_sections
    ADD CONSTRAINT "landing_sections_landingPageId_fkey" FOREIGN KEY ("landingPageId") REFERENCES public.landing_pages(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: order_items order_items_packageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES public.packages(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: order_items order_items_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT "order_items_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: order_status_history order_status_history_orderId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT "order_status_history_orderId_fkey" FOREIGN KEY ("orderId") REFERENCES public.orders(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: orders orders_billingAddressId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_billingAddressId_fkey" FOREIGN KEY ("billingAddressId") REFERENCES public.addresses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_shippingAddressId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_shippingAddressId_fkey" FOREIGN KEY ("shippingAddressId") REFERENCES public.addresses(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: orders orders_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT "orders_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: package_items package_items_packageId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.package_items
    ADD CONSTRAINT "package_items_packageId_fkey" FOREIGN KEY ("packageId") REFERENCES public.packages(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: package_items package_items_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.package_items
    ADD CONSTRAINT "package_items_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: product_images product_images_productId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT "product_images_productId_fkey" FOREIGN KEY ("productId") REFERENCES public.products(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- Name: products products_brandId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_brandId_fkey" FOREIGN KEY ("brandId") REFERENCES public.brands(id) ON UPDATE CASCADE ON DELETE SET NULL;


--
-- Name: products products_categoryId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_categoryId_fkey" FOREIGN KEY ("categoryId") REFERENCES public.categories(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: products products_departmentId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT "products_departmentId_fkey" FOREIGN KEY ("departmentId") REFERENCES public.departments(id) ON UPDATE CASCADE ON DELETE RESTRICT;


--
-- Name: refresh_tokens refresh_tokens_userId_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.refresh_tokens
    ADD CONSTRAINT "refresh_tokens_userId_fkey" FOREIGN KEY ("userId") REFERENCES public.users(id) ON UPDATE CASCADE ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict uRHN0P87afN6d0ZM3kyBLI4fn4rHmaOUHOJfo6mUFTSWmVb1Qk1hWOi8VlcDAPD

